.sr-scale {
  transform: scale(.75);
  opacity: 0;
}

.show-sr-scale {
  transform: scale(1);
  opacity: 1;
}

.sr-btt {
  transform: translate(0, 50%);
  opacity: 0;
}

.show-sr-btt {
  transform: translate(0, 0);
  opacity: 1;
}

.sr-ltr {
  transform: translate(-50%, 0);
  opacity: 0;
}

.show-sr-ltr {
  transform: translate(0, 0);
  opacity: 1;
}

.sr-rtl {
  transform: translate(50%, 0);
  opacity: 0;
}

.show-sr-rtl {
  transform: translate(0, 0);
  opacity: 1;
}